<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">

<nav>
    <div class="nav-wrapper green darken-3">
        <a href="#" class="brand-logo">{{title}}</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="sass.html">About</a></li>
            <li><a href="badges.html">SOCIAM</a></li>
            <li><a href="collapsible.html">GitHub</a></li>
        </ul>
    </div>
</nav>

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>