<!--
 - Component Templated
 -
 - This is an HTML file that represents what is going to be injected into the app.
 - Events that occur through this template can be referred to in the component it
 - forms part of. Likewise, variables and methods defined in the component class
 - can be utilised from within this template.
 -
 -->
<div class="container">
    <ul>
        <li *ngFor="let app of appData">
            <div class="col s12 m7">
                <div class="card horizontal">
                    <div class="card-image">
                        <img src="{{app.image}}" class="responsive-img ">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <h3>{{app.title}}</h3>
                            <p>{{app.description}}</p>
                        </div>
                        <div class="card-action">
                            <div class="chip">
                                <img src="../assets/images/leek.png" alt="leek"> {{app.leeks}}
                            </div>
                            <div class="chip">
                                <img src="../assets/images/star.png" alt="leek"> {{app.usrRating}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </li>
    </ul>
</div>