<nav class="navbar">
    <div class="title">
        EDI
    </div>
    <div class="links">
        <a routerLink="/home">
            <div class="link">
                Home
            </div>
        </a>
        <a routerLink="/refine">
            <div class="link">
                Refine
            </div>
        </a>
        <a routerLink="/observatory">
            <div class="link">
                Observatory
            </div>
        </a>
        <a routerLink="/apps">
            <div class="link">
                Apps
            </div>
        </a>
    </div>
</nav>