@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400');

div.main-display {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    width: 85%;
    height: 100%;
    float: right;
    display: inline-block;
    padding-top: 48px;
    background: #eee;
}

div.boxed {
    float: left;
    background: #fff;
    height: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    padding: 10px;
}

div.app-details {
    width: 45%;
    margin: 20px;
    float: left;
        float: left;
    background: #fff;
    height: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    padding: 10px;
    .app-icon {
        float: left;
        width: 10%;
        padding: 5px;
    }
    .app-title {
        display: inline-block;
        font-size: 2em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .app-apk {}
    .app-rating {
        padding: 5px;
    }
    .app-count {
        font-size: 0.75em;
    }

    dt {
        float: left;
        color: #999999;
        font-weight: 400;
        margin-bottom: 5px;
        line-height: 19px;
        display: block;
    }
    
    .img-wrapper {
            max-width: 100%;

    }

    dd {
        margin-left: 140px;
        margin-bottom: 5px;
        color: #333333;
        line-height: 19px;
        font-weight: 400;
        min-height: 19px;
        display: block;
        font-style: italic;
    }

    div.a {
        color: #0288d1;
        text-decoration: none;
        font-weight: 500;
    }
    div.list {
        height: 20vh;
        overflow-y: auto;
        overflow-wrap: break-word;
        float: left;
        padding: 10px;
        margin: 10px;
        color: #222;
        background: #eee;
        width: 40%;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        div.list-item {
            font-size: 0.75em;
        }
    }
    div.alt-apps {
        width: 100%;
        height: 40px;
        margin: 10px;
        div.alt-app {
            width: 40%;
            margin: 5px;
            padding: 5px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            float: left;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
            img.alt-icon {
                padding: 5px;
                width: 30px;
            }
            &:hover {
                background: #eee;
            }
        }
    }
}

div.app-info {
    display: inline-block;
    flex-shrink: 0;
    padding: 10px 20px;
    margin: 0;
}

div.app-charts {
    width: 40%;
    float: left;
    div.chart {
        width: 100%;
        height: 20vh;
        margin: 20px;
        background: #fff;
        padding: 20px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        float: left;
        div.panel {
            float: inherit;
            width: 50%;
            height: inherit;
            div.title {
                width: 90%;
                font-size: 0.75em;
                border-bottom: 0.5px solid #eee;
            }
        }
    }
}

div.side-panel {
    padding-top: 48px
}

div.selections {
    width: 100%;
    padding: 5px;
    max-height: 50px;
    overflow-y: scroll;
    div.selection {
        padding: 2px;
    }
}


.perm-body {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    padding: 0 25px;
    height: 25px;
    overflow: hidden;
    font-size: 0.8em;
    line-height: 25px;
    border-radius: 12px;
    background-color: #f1f1f1;
    img {
        float: left;
        margin: 0 10px 0 -25px;
        height: 25px;
        width: 25px;
        border-radius: 25%;
    }
}


//App perms danger zones
.dangerous {
     background-color: #B33A3A;
}

.third-party {
    background-color: #FF6600;
}

.normal {
    background-color: #91AA9D;
}

.chip {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    padding: 0 25px;
    height: 25px;
    overflow: hidden;
    font-size: 0.8em;
    line-height: 25px;
    border-radius: 12px;
    background-color: #f1f1f1;
    img {
        float: left;
        margin: 0 10px 0 -25px;
        height: 25px;
        width: 25px;
        border-radius: 25%;
    }
    .closebtn {
        padding-left: 5px;
        padding-bottom: 5px;
        vertical-align: middle;
        color: #888;
        font-weight: bold;
        float: right;
        font-size: 10px;
        height: 100%;
        cursor: pointer;
    }
    .closebtn:hover {
        color: #000;
    }
}




//TABLES
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; 
  width: 100%;
}

thead {
    vertical-align: middle;
    border-color: inherit;
}

td {
    padding: 10px 18px;
    border-bottom: 1px solid #111;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

table.dataTable.display tbody tr.odd {
    background-color: #f9f9f9;
}

table.details tr td.value, .modal.item table.details tr td.edit {
    display: inline-block;
    vertical-align: middle;
    min-height: 2.5em;
    padding: 0.5em;
}

.modal.item table.details td.value {
    text-align: right;
    padding-right: 10px;
    font-weight: 400;
}

.modal.item table.details td.value {
    width: 50%;
}

td, th {
    padding: 15px 5px;

    text-align: left;
    vertical-align: middle;
    border-radius: 2px;
}