@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400');
div.main-display {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    width: 85%;
    height: 100%;
    float: right;
    display: inline-block;
    padding-top: 48px;
    background: #eee;
}

div.app-details {
    width: 45%;
    margin: 20px;
    float: left;
    background: #fff;
    padding: 20px;
    height: 90vh;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    .app-icon {
        float: left;
        width: 10%;
        padding: 5px;
    }
    .app-title {
        display: inline-block;
        font-size: 2em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .app-apk {}
    .app-rating {
        padding: 5px;
    }
    .app-count {
        font-size: 0.75em;
    }
    div.list {
        height: 20vh;
        overflow-y: auto;
        overflow-wrap: break-word;
        float: left;
        padding: 10px;
        margin: 10px;
        color: #222;
        background: #eee;
        width: 44%;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        div.list-item {
            font-size: 0.75em;
        }
    }
    div.alt-apps {
        width: 100%;
        height: 5%;
        margin: 10px;
        div.alt-app {
            width: 15%;
            margin: 5px;
            padding: 5px;
            height: 100%;
            float: left;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            float: left;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
            img.alt-icon {
                padding: 5px;
                width: 30px;
                float: left;
            }
        }
    }
}

div.app-charts {
    width: 45%;
    float: left;
    div.chart {
        width: 100%;
        margin: 20px;
        background: #fff;
        padding: 20px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        height: 20vh;
        width: 100%;
        float: left;
    }
}

div.side-panel {
    padding-top: 48px
}

div.selections {
    width: 100%;
    padding: 5px;
    max-height: 50px;
    overflow-y: scroll;
    div.selection {
        padding: 2px;
    }
}

.chip {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    padding: 0 25px;
    height: 25px;
    overflow: hidden;
    font-size: 0.8em;
    line-height: 25px;
    border-radius: 12px;
    background-color: #f1f1f1;
    img {
        float: left;
        margin: 0 10px 0 -25px;
        height: 25px;
        width: 25px;
        border-radius: 25%;
    }
    .closebtn {
        padding-left: 5px;
        padding-bottom: 5px;
        vertical-align: middle;
        color: #888;
        font-weight: bold;
        float: right;
        font-size: 10px;
        height: 100%;
        cursor: pointer;
    }
    .closebtn:hover {
        color: #000;
    }
}