<div class="main-display">

    <div *ngIf="selectionMade">
        <div class="app-details">
            <div class="app-header">
                <img class="app-icon" src="https://negi.io/api/icons{{currentSelection.icon}}">
                <div class="app-title">
                    {{currentSelection.storeinfo.title}}
                </div>
                <div class="app-apk">
                    {{currentSelection.app}}
                </div>
                <div class="chip"><img src="http://icons.iconarchive.com/icons/graphicloads/colorful-long-shadow/256/Identity-icon.png">{{currentSelection.hosts.length}}</div>
                <div class="chip"><img src="http://icons.iconarchive.com/icons/graphicloads/colorful-long-shadow/256/Star-fav-icon.png">{{currentSelection.perms.length}}</div>
                <div class="chip"><img src="http://icons.iconarchive.com/icons/graphicloads/colorful-long-shadow/256/Star-fav-icon.png">{{currentSelection.storeinfo.rating}}</div>
                <div class="chip"><img src="http://icons.iconarchive.com/icons/graphicloads/colorful-long-shadow/256/Arrow-download-3-icon.png">{{downloads}}</div>
            </div>

            <div class="app-body">
                <div>
                    App Summary: {{currentSelection.storeinfo.summary}}
                </div>
                <div>
                    Developer Name: {{currentSelection.developer.name}}
                </div>
                <div>
                    Developer Emails: {{currentSelection.developer.emails}}
                </div>
                <div>
                    Google Play Page: {{currentSelection.developer.storeSite}}
                </div>
                <div class="lists">
                    <div class="list">
                        <div class="list-item" *ngFor="let host of currentSelection.hosts">
                            {{host}}
                        </div>
                    </div>
                    <div class="list">
                        <div class="list-item" *ngFor="let perm of currentSelection.perms">
                            {{perm}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="alt-apps" *ngIf="altApps.length != 0">
                <div class="alt-app" (dblclick)="selectApp(app)" (click)="setCompare(app)" *ngFor="let app of altApps">
                    <img class="alt-icon" src="https://negi.io/api/icons{{app.icon}}"> {{app.storeinfo.title}}
                </div>
            </div>
        </div>

        <div class="app-charts">

            <div class="chart">
                <app-host-genre-compare></app-host-genre-compare>
            </div>
            <div class="chart">
                <div class="panel">
                    <div class="title">
                        {{currentSelection.storeinfo.title}}
                    </div>
                    <app-host-company-donut [onlySingle]="true"></app-host-company-donut>
                </div>
                <div class="panel" *ngIf="currentAltTitle != ''">
                    <div class="title">
                        {{currentAltTitle}}
                    </div>
                    <app-host-company-donut [onlySingle]="false" [compareView]="true"></app-host-company-donut>
                </div>
                <div class="panel" *ngIf="currentAltTitle == ''">
                    <div class="title">
                        Select an alternative app.
                    </div>
                </div>
            </div>
            <div class="chart">
                <app-force-directed-graph [onlySingle]="true"></app-force-directed-graph>
            </div>

        </div>

    </div>
</div>

<app-sidenav [updateCurrent]="true" [updateList]="false"></app-sidenav>