<div class="main-display">

    <div *ngIf="selectionMade">
        <div class="app-details">
            <div class="app-header">
                <img class="app-icon" src="https://negi.io/api/icons{{currentSelection.icon}}">
                <div class="app-title">
                    {{currentSelection.storeinfo.title}}
                    <br>
                   
                </div>
                <div class="app-apk">
                    {{currentSelection.app}}
                    <br>
                    Version: {{currentSelection.ver}}                    
                </div>
                <div class="chip"><img src="http://icons.iconarchive.com/icons/graphicloads/colorful-long-shadow/256/Identity-icon.png">{{currentSelection.hosts.length}}</div>
                <div class="chip"><img src="http://icons.iconarchive.com/icons/graphicloads/colorful-long-shadow/256/Star-fav-icon.png">{{currentSelection.perms.length}}</div>
                <div class="chip"><img src="http://icons.iconarchive.com/icons/graphicloads/colorful-long-shadow/256/Star-fav-icon.png">{{currentSelection.storeinfo.rating}}</div>
                <div class="chip"><img src="http://icons.iconarchive.com/icons/graphicloads/colorful-long-shadow/256/Arrow-download-3-icon.png">{{downloads}}</div>
            </div>

            <div class="app-body">
                <div  class="app-info">  
                    <h4>App Summary </h4> 
                    {{currentSelection.storeinfo.summary}}       
                   
                </div>

                <div class="app-info">
                    <h4>Company  Details </h4>


                    <dt> Name </dt> 
                    <dd>
                        <a href={{currentSelection.developer.site}}> {{currentSelection.developer.name}} </a>
                    </dd>

                    <dt> Developer Email </dt>
                    <dd>  {{currentSelection.developer.emails}} </dd>
 
                    <dt> Developer Site </dt>
                    <dd> 
                        <a href={{currentSelection.developer.site}}> {{currentSelection.developer.site}} </a>
                    </dd>                
                </div>

                <div class="app-info">
                    <div class="img-wrapper"> 
                        <a href= {{currentSelection.storeinfo.storeURL}}>
                            <img src="https://play.google.com/intl/en_gb/badges/images/badge_new.png" alt="store-link"> 
                        </a>
                    </div>
                </div>


                <div class="perm-body" *ngFor="let perm of currentSelection.perms">
                    {{perm}}
                    <img src="http://icons.iconarchive.com/icons/graphicloads/colorful-long-shadow/256/Identity-icon.png">
                </div>

                <div>
                   <table id="data-table-row-grouping" class="display dataTable" cellspacing="0" width="100%" role="grid" aria-describedby="data-table-row-grouping_info" style="width: 100%;">
                        <thead>
                        <tr>
                            <th style="width: 20%">
                                Company
                            </th>
                            <th style="width: 50%">
                                Domain
                            </th>
                        </tr>
                        </thead>
                        <tbody> 
                            <tr role="row" class="odd" *ngFor="let host of currentSelection.hosts">
                                <td class="key" >TODO: LOAD IN COMPANY </td>
                                <td class="value">{{host }}</td>
                            </tr>
                        </tbody>
                        <tfoot>
                        </tfoot>
                    </table>
                </div>

            </div>




            <div class="alt-apps" *ngIf="altApps.length != 0">
                <div class="alt-app" (click)="setCompare(app)" *ngFor="let app of altApps">
                    <img class="alt-icon" src="https://negi.io/api/icons{{app.icon}}"> {{app.storeinfo.title}}
                </div>
            </div>




        </div>

        <div class="app-charts">
            <div class="chart">
                <app-force-directed-graph [onlySingle]="true"></app-force-directed-graph>
            </div>
            <div class="chart">
                <div class="panel">
                    <div class="title">
                        {{currentSelection.storeinfo.title}}
                    </div>
                    <app-host-company-donut [onlySingle]="true"></app-host-company-donut>
                </div>
                <div class="panel" *ngIf="currentAltTitle != ''">
                    <div class="title">
                        {{currentAltTitle}}
                    </div>
                    <app-host-company-donut [onlySingle]="false" [compareView]="true"></app-host-company-donut>
                </div>
                <div class="panel" *ngIf="currentAltTitle == ''">
                    <div class="title">
                        Select an alternative app.
                    </div>
                </div>
            </div>
            <div class="chart">
                <app-force-directed-graph [onlySingle]="true"></app-force-directed-graph>
            </div>

        </div>

    </div>
</div>

<app-sidenav [updateCurrent]="true" [updateList]="false"></app-sidenav>