.search {
    padding: 5px 5px 0px 5px;
    .icon .bar {
        float: left;
    }
}

.suggestions {
    width: 100%;
    padding: 0px 0px;
    margin: 0px 0px;
    img {
        width: 30px;
        height: 30px;
    }
    tr td {
        padding: 1px 5px;
        margin: 0px 0px;
    }
    tr {
        border-bottom: 1px solid #eee;
    }
    tr:hover {
        background-color: #eee;
    }
    .app-dev {
        color: #666;
        font-size: 12px;
        padding: inherit;
        margin: inherit;
    }
    .app-title {
        color: #111;
        font-size: 12px;
        padding: inherit;
        margin: inherit;
    }
}

table.no-results {
    tr td {
        text-align: center;
    }
}