<div class="search">
    <fa class="material-icons icon" name="search"></fa>
    <input class="bar" type="text" [(ngModel)]=query (keydown)=search() placeholder="type app title here.">
</div>
<div>
    <table class="suggestions">
        <tr *ngFor="let item of filteredList" (click)="select(item)">
            <td>
                <!--<img src="http://localhost:8118{{item.icon}}" alt="" class="circle"> -->
                <img src="../../assets/images/leek.png">
            </td>
            <td>
                <div class="app-title">{{item.storeinfo.title}}</div>
                <div class="app-dev">By {{item.developer?.name}}</div>
            </td>
        </tr>
    </table>
</div>
<div *ngIf="filteredList.length == 0 && query != ''">
    <table class="no-results">
        <tr>
            <td>
                <div class="app-title">No Results Found</div>
                <div class="app-dev"></div>
            </td>
        </tr>
    </table>
</div>