<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<div id="search" class="container">
    <div>
        <span class="center-align"><h1>Search for an App</h1></span>
    </div>
    <form>
        <div class="row">
            <div class="col s10">
                <input [(ngModel)]="searchTerm" name="search-bar" class="form-control" type="search" value="" placeholder="type keyword(s) here" />

            </div>
            <div class="col">
                <button [(ngModel)]="appData" name="submit-search" (click)="postSearchQuery()" type="button" class="btn btn-primary">Search</button>

            </div>
        </div>

    </form>
</div>

<div class="container">
    <div *ngIf="appData.length">
        <ul>
            <li *ngFor="let app of appData">
                <div class="col s12 m7" *ngIf="app?.title != ''">
                    <div class="card horizontal">
                        <div class="card-image">
                            <img src="localhost:8118{{app.icon}}" class="responsive-img ">
                        </div>
                        <div class="card-stacked">
                            <div class="card-content">
                                <h3>{{app.storeinfo.title}}</h3>
                                <p>{{app.app}}</p>
                            </div>
                            <div class="card-action">
                                <div class="chip">
                                    <img src="../assets/images/leek.png" alt="leek"> {{app.hosts.length}}
                                </div>
                                <div class="chip">
                                    <img src="../assets/images/star.png" alt="leek"> {{app.storeinfo.rating}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </li>
        </ul>
    </div>
    <div>

    </div>

</div>