<div id="search" class="container">
    <div>
        <span class="center-align"><h4>Search for an App</h4></span>
    </div>
    <div class="row">
        <form>
            <input [(ngModel)]="searchTerm" name="search-bar" (keyup)="search()" class="form-control" type="search" value="" />
        </form>
    </div>
</div>

<div class="container">
    <ul class="collection">
        <li *ngFor="let app of appData" (ngModel)="appData" class="collection-item avatar">
            <div class="col s12 m7">
                <div class="circle">
                    <img src="localhost:8118{{app.icon}}" class="responsive-img ">
                </div>
                <span class="title">{{app.storeinfo.title}}</span>
                <p>{{app.developer.name}}</p>
            </div>
            <div class="chip">
                <img src="../assets/images/leek.png" alt="leek"> {{app.hosts.length}}
            </div>
            <div class="chip">
                <img src="../assets/images/openLock.png" alt="permissions"> {{app.perms.length}}
            </div>
            <div class="chip">
                <img src="../assets/images/star.png" alt="rating"> {{app.storeinfo.rating}}
            </div>
            <a href="https://play.google.com/store/apps/details?id={{app.app}}" class="chip"><img src="../assets/images/gplay.png" alt="gplay"> Google Play </a>
        </li>
    </ul>
</div>