<div class="side-panel">
    <app-sidenav></app-sidenav>
</div>
<div class="main-display">

    <div class="selections" *ngIf="allSelections.size != 0">
        <div class="chip" *ngFor="let app of selectionValues">
            <div class="closebtn" (click)="removeApp(app.app)">&times;</div>
            <img src="http://localhost:8118{{app.icon}}" alt="^_^" width="96" height="96"> {{app.storeinfo.title}}
        </div>
    </div>
    <div *ngIf="allSelections.size == 0">
        No selections. Please select an app from the panel in the left hand size.
    </div>
    <app-host-count-bar-chart></app-host-count-bar-chart>
</div>