@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400');
/deep/ body {
    margin: 0;
    width: 100%;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

div.root {
    background: #efefef;
    height: 100%;
}

div.banner {
    color: #fff;
    background: #222;
    padding-top: 80px;
    padding-bottom: 40px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    div.title {
        text-align: center;
        font-size: 3em;
        width: 100%;
    }
    div.sub-title {
        text-align: center;
        font-size: 2em;
        width: 100%;
    }
}

div.content {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    div.heading {
        text-align: center;
        font-size: 2em;
        width: 100%;
    }
    div.description {
        padding-top: 10px;
        padding-bottom: 10px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        text-align: justify;
        font-size: 1.5em;
    }
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    width: 100%;
    height: 100vh;
    box-shadow: 0 1px 3px rgba(0,
    0,
    0,
    0.12),
    0 1px 2px rgba(0,
    0,
    0,
    0.24);
    background: #fff;
}