<div class="root">
    <div class=banner>
        <div class="title">
            EDI
        </div>
        <div class="sub-title">
            Ethical Data Initiative
        </div>
    </div>
    <div class="content">
        <div class="description-lead">
            The EDI is a form of app observatory. It allows you to gain insight into what happens to your personal information when using mobile applications. Produced as part of a joint venture investigating the theory and practice of <a href="https://sociam.cs.ox.ac.uk">Social Machines</a>.
        </div>

        <div class="description-info">
            A Social Machine is defined as a system comprised of both machine and human elements. Where social contributions made by the user enhances the service provided by the machine.<sup><a href="http://www2013.wwwconference.org/companion/p905.pdf">[1]</a></sup>            Information repositories like Wikipedia and social networks like Facebook are examples of social machines.
        </div>
        <div class="description-info">
            With approximately 2.8 million apps available in the google play store,<sup><a href="https://www.statista.com/statistics/276623/number-of-apps-available-in-leading-app-stores/">[2]</a></sup> Many Social Machines are either entirely based around
            a mobile application or have an equivalent mobile form. Yet there remains little transparency with regards to what is being done with a user's personal information.
        </div>

        <div class="divider"></div>
    </div>
</div>