<div class="root">
    <div class=banner>
        <div class="title">
            EDI
        </div>
        <div class="sub-title">
            Ethical Data Initiative
        </div>
    </div>
    <div class="content">
        <div class="description">
            This is the home page for the Ethical Data Initiative (EDI). The EDI is a project that aims to introduce and raise awareness of what happens to your personal information when using mobile applications.
        </div>
        <div class="description">
            Produced as part of a joint venture investigating the theory and practice of Social Machines (SOCIAM) the EDI focuses on the personal privacy aspects of social machines.
        </div>
    </div>
</div>