@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400');
/deep/ body {
    margin: 0;
    width: 100%;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

div.root {
    padding-top: 50px;
    background: #eee;
    width: 100%;
    height: 100%;
}

div.container {
    height: 75vh;
    width: 75%;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    background: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    z-index: 1;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #222;
    div.divider {
        margin: 10px auto;
        width: 75%;
        border-bottom: solid 0.5px #226622;
    }
    div.heading {
        text-align: left;
        font-size: 1.5em;
        font-weight: 400;
    }
    table {
        line-height: 100%;
        td {
            padding: 5px;
        }
    }
    div.description-lead {
        padding-top: 10px;
        text-align: justify;
        line-height: 150%;
        font-size: 1.25em;
    }
    div.description-info {
        padding-bottom: 10px;
        text-align: justify;
        font-size: 1em;
        line-height: 175%;
    }
    div.figure {
        margin-bottom: 30px;
        padding-bottom: 30px;
        width: 100%;
        height: 90%;
    }
    div.right {
        float: right;
    }
    div.left {
        float: left;
    }
    div.half {
        width: 50%!important;
    }
    div.two-third {
        width: 66%!important;
    }
    div.one-third {
        width: 33%!important;
    }
}