<div class="search">
    <input class="bar" type="text" [(ngModel)]=query (keyup)=search() placeholder="Search for an app.">
</div>
<div>
    <table class="suggestions">
        <tr *ngFor="let item of filteredList" (click)="select(item)">
            <td>
                <img src="https://negi.io/api/icons{{item.icon}}" alt="" class="">
                <div class="app-title">{{item.storeinfo.title}}</div>
                <div class="app-dev">By {{item.developer?.name}}</div>
            </td>
        </tr>
    </table>
</div>
<div *ngIf="filteredList.length == 0 && query != ''">
    <!-- http://tobiasahlin.com/spinkit/ -->
    <div class="sk-folding-cube">
        <div class="sk-cube1 sk-cube"></div>
        <div class="sk-cube2 sk-cube"></div>
        <div class="sk-cube4 sk-cube"></div>
        <div class="sk-cube3 sk-cube"></div>
    </div>
</div>