<footer class="page-footer green darken-3">
    <div class="container ">
        <div class="row ">
            <div class="col l6 s12 ">
                <h5 class="white-text ">EDI</h5>
                <p class="grey-text text-lighten-4 ">Ethical Data Initiative shows how much personal data is being used by companies.
                                                     Provided by the SOCIAM Project</p>
            </div>
            <div class="col l4 offset-l2 s12 ">
                <h5 class="white-text ">Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3 " href="http://sociam.org/">SOCIAM Website</a></li>
                    <li><a class="grey-text text-lighten-3 " href="https://github.com/sociam">GitHub</a></li>
                    <li><a class="grey-text text-lighten-3 " href="sass.html">About</a></li>
                    <li><a class="grey-text text-lighten-3 " href="badges.html">SOCIAM</a></li>
                    <li><a class="grey-text text-lighten-3 " href="http://www.sociam.org/content/contact-sociam">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright ">
        <div class="container ">
            ©2017 SOCIAM Project
            <!--<a class="grey-text text-lighten-4 right " href="#! "></a> -->
        </div>
    </div>
</footer>